# Ignore everything
*

# Except:
!.gitignore
!aisle7.sh
!announcement.sh
!aptInstall.sh
!awesomeDM.sh
!checkBattery.sh
!dependencies.sh
!ipchicken.sh
!irssi.sh
!jumper.sh
!onionHarvest.sh
!onionScan.sh
!osxBSD2GNU.sh
!outage.sh
!push.sh
!quad.sh
!README.MD
!shaAndTrunc.sh
!sms.sh
!spark.sh
!sshBruteForce.sh
!testOnion.sh
!toggle.sh
!torcurl.sh
!torGuard.sh
!torIpChicken.sh
!update.sh
